<div fxLayout="column" fxLayoutAlign="space-around center" ng-blur="close()">
  <mat-card [class.mat-elevation-z5]="isActive" [ngStyle]="{'background-color': color}" fxLayout="row"
    class="mat-card-note" fxLayoutAlign="space-between" fxFlex="50" fxLayoutGap="100">

    <input class="take-note-input" [ngStyle]="{'background-color': color}" matInput placeholder="Take a note..."
      (click)="Toggle()" *ngIf="hide" fxFlex="100" fxLayout="row">

    <div *ngIf="show" fxFlex="100">
      <div fxLayout="row" fxLayoutAlign="space-between end">
        <textarea class="text-area" matInput cdkTextareaAutosize [ngStyle]="{'background-color': color}"
          #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" [formControl]="title" placeholder="Title"></textarea>
        <mat-icon matSuffix>turned_in_not</mat-icon>
      </div>
      <div>
        <textarea autofocus class="text-area" [ngStyle]="{'background-color': color}" cdkTextareaAutosize
          #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" [formControl]="note" matInput
          placeholder="Take a note..."></textarea></div>

      <!--Checklist Start-->

      <div>
        <div *ngFor='let list of checklist' class="above">
          <div *ngIf="list.status=='open' && list.status!='close' && !list.isDeleted" fxLayout="row"
            fxLayoutAlign="space-between center">
            <div fxLayout="row" fxFlex="100">
              <mat-icon (click)='removeCheckList(list)' class="visibleBox">check_box_outline_blank</mat-icon>
              <input class="checklist" width="90%" [(ngModel)]="list.itemName" (keyup)="updateList(list)"
                (keyup.enter)="textareachange($event)">
              <div class="visiblez">
                <mat-icon (click)="deleteCheckList(list)">clear</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div *ngFor='let list of checklist' class="above">
          <div *ngIf="list.status=='close' && !list.isDeleted" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxFlex="100">
              <mat-icon (click)='addCheckList(list)' class="visibleBox">check_box</mat-icon>
              <input class="checklist" style="text-decoration:line-through;" [(ngModel)]="list.itemName"
                (keyup)="updateList(list)" (keydown.enter)="textareachange($event)">
              <div class="visiblez">
                <mat-icon (click)="deleteCheckList(list)">clear</mat-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf='listToggle' class="above">
        <mat-divider></mat-divider>
        <div fxLayout='row'>
          <mat-icon>add</mat-icon><input matInput [(ngModel)]="listItem" [ngStyle]="{'background-color': color}" placeholder="List Here"
            (keydown.enter)='addlist()'>
        </div>
        <mat-divider></mat-divider>
      </div>

      <!--Checklist End-->

      <div *ngIf="remind != ''">
        <mat-chip-list>
          <div fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-chip [ngStyle]="{'background-color': color}" class="label-chip">{{remind | date: shortdate}}<mat-icon
                class="label-cross" (click)="removeReminder()">clear</mat-icon>
            </mat-chip>
          </div>
        </mat-chip-list>
      </div>
      <!-- <div *ngIf="collab.length!=0">
      <mat-chip-list>
          <div *ngFor="let collab of record.collaborators" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <mat-icon (click)="openCollabDialog('Collab...', record.id)" matTooltip="{{collab.firstName}}">
              account_circle</mat-icon>
          </div>
        </mat-chip-list>
      </div> -->
      <mat-action-row fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutAlign.xs="center center">
        <app-icon-list fxFlex='100' (messageEvent)="colorChange($event)" (remindEvent)="saveReminder($event)"
          (collabEvent)="openCollabDialog($event)" (checkEvent)="changeListToggle($event)">
        </app-icon-list>
        <button style="float: right" matTooltip="Close and Save" fxLayoutAlign="end end" mat-button
          (click)="close()">Close</button>
      </mat-action-row>
    </div>

  </mat-card>

</div>