.mat-card-note {
    width: 45%;
    margin-top: 3.9%;
    border-radius: 15px;
    // position: fixed;
}
.text-area {
    outline: none;
    border: transparent;
    resize: none;
    overflow: auto;
}

.take-note-input {
    outline: none;
    border: transparent;
}