.mat-card-note {
    width: 45%;
    margin-top: 3.9%;
    border-radius: 15px;
    // position: fixed;
}
.text-area {
    outline: none;
    border: transparent;
    resize: none;
    overflow: auto;
    width: 85%;
}

.take-note-input {
    outline: none;
    border: transparent;
}

.label-chip {
    .label-cross {
        opacity: 0;
    }
    &:hover{
        .label-cross{
            opacity: 1;
        }
    }
    opacity: 0.75;
    &:hover {
        opacity: 1;
    }
    filter: brightness(80%);
}

.label-cross {
    transform: scale(0.7);
}

.checklist {
    outline: none;
    border: none;
    background: transparent;
}

.visible {
    cursor: pointer;
    opacity: 0.50;
    &:hover {
        opacity: 1;
    }
}

.visiblez {
    cursor: pointer;
    opacity: 0.50;
    &:hover {
        opacity: 1;
    }
}

.visibleBox {
    cursor: pointer;
}