.mat-card-note {
    width: 40%;
    margin-top: 7%;
    position: fixed;
}
.text-area {
    outline: none;
    border: transparent;
    resize: none;
    overflow: auto;
}

.take-note-input {
    outline: none;
    border: transparent;
}