 <body style="background-color:blanchedalmond;">  
<mat-card class="register-card">
  <mat-card-header> 
    
    <mat-card-title class="card-title"><b>Register Yourself!</b></mat-card-title>
    <mat-card-subtitle>Create your fundooApp Account Today!</mat-card-subtitle>
    <img mat-card-avatar src="../../../assets/logo.png" class="mat-header-img">
  </mat-card-header>

  <mat-form-field appearance="outline" class="reg-input-name">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Enter your first name" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="reg-input-name">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Enter your last name" required>
  </mat-form-field>

  <mat-form-field appearance="outline" class="reg-input">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Enter your email" name="email" [formControl]="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="reg-input">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Enter your password" name="password" [formControl]="password" [type]="hide ? 'password' : 'text'" required>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="reg-input">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm your password" name="confirmpassword" [type]="hide ? 'password' : 'text'" required> <!--pattern="{{ password.value }}" -->
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <!-- <mat-error *ngIf="confirmpassword.errors.pattern">Confirm password does not match password</mat-error> -->
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button color="accent">Register</button>
    <b><a class="gotoReg" routerLink="" (click)="gotoLogin()">Already a user?</a></b>
  </mat-card-actions>  
</mat-card>
</body> 
