body{
    height: 100vh;
}

.register-card{
    // width: 500px;
    // margin-left: 31%;
    // margin-top: 50px;
    // position: absolute;
    height: 90vh;
    margin-top: 2%;
}

.card-title{
    color: #4285F4;
}

.password-icon {
    cursor: pointer;
}

.mat-header-img{
    // width: 120px;
    // height: 90px;
}

.reg-input-name {
    // margin-right: 20px;
}

.reg-input {
    // width: 100%;
}

.gotoReg{
    // float: right;
    // margin-top: 5px;
    // margin-right: 7 px;
}
.regButton{
    color: white;
    background-color: #4285F4;
}

a:link{
    text-decoration: none;
    color: #4285F4;
}
a:visited{
    text-decoration: none;
    color: #4285F4;
}