body{
    height: 100vh;
}

.register-card{
    // width: 500px;
    // margin-left: 31%;
    // margin-top: 50px;
    // position: absolute;
    // height: 90vh;
    margin-top: 2%;
}

.gotoReg {
    color: #4285F4;
    cursor: pointer;
}

.card-title{
    color: #4285F4;
}

.password-icon {
    cursor: pointer;
}

.subtitle {
    color: slategray;
}

.regButton{
    color: white;
    background-color: #4285F4;
}

a:link{
    text-decoration: none;
    color: #4285F4;
}
a:visited{
    text-decoration: none;
    color: #4285F4;
}