@import "../../styles/constants.scss";

.mat-toolbar {
    @include basic;
    // background-color: white;
    border-bottom: lightgray 1px solid;
    width: 100%;
    padding: 5px;
    position: fixed;
    z-index: 2;
    margin-top: 0%;
}

.search-bar {
    // justify-content: center;
    width: 50%;
    height: 75%;
    margin-left: 100px;
    border-radius: 10px;
    // padding-top: 2%;
    // transform: translateY(-2.50em)scaleY(2.85);
    // transform: translateX(0em)scaleX(3.00);
}

.searchbar {
    // background-color: darkgrey;
    border: none;
    outline: none;
    user-select: none;
    font-size: 75%;
    width: 100%;
}

.example-container {
    background-color: white;
    border: none;
}
.example-sidenav {
    width:18%;
    border: none;
    padding-top: 5%;
}

.logo {
    height: 40px;
    width: 40px;
}
// .logo-btn {
//     // height: 15%;
//     width: 15%;
//     min-width: 40%;
// }

.exit-btn {
    cursor: pointer;
}

.nav-btn {
    cursor: pointer;
    width: 100%;
}
.nav-btn:hover {
    background-color: #feefc3;
    border-radius: 0px 50px 50px 0px;
}
.nav-content {
    min-height: 100vh;
}
.header-hover:hover{
    color: lightgray;
}

.img-card-btn {
    color: white;
    border: solid 1px grey;
    margin: 6px;
    background-color: rgb(174, 176, 179);
}

.image-container {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-left: 4%;
}

.change-img {
    cursor: pointer;
    width: 87px;
    height: 33px;
    margin-left: 10px;
    border-radius:0% 0% 200px 200px;
    font-size: 11px;
}

.email {
    font-size: smaller;
    word-break: break-all;
    color: #666;
}

.img-menu {
    overflow: hidden;
    line-height: normal;
    padding: 0;
}

.btn-div {
    background-color: #f5f5f5;
}

.img-btn-container .change-img {
    position: absolute;
    top: 12%;
    background: rgba(0, 0, 0, 0.80);
    color: white;
}

// .example-container {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     right: 0;
//   }
  
//   .example-events {
//     width: 300px;
//     height: 200px;
//     overflow: auto;
//     border: 1px solid #555;
//   }