<mat-toolbar class="mat-toolbar" fxLayoutAlign="start center" fxLayout="row">
    <button mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <img fxFlex="4" (click)="gotoDashboard()" class="logo" src="../../assets/download.png" alt="FundooApp">
    
    <mat-form-field appearance="outline" class="search-bar" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-icon-button>
            <mat-icon matPrefix>search</mat-icon>
        </button>
        <input matInput type="search" id="site-search" name="q" placeholder="Search" class="searchbar"
            aria-label="search">
    </mat-form-field>

    <button mat-button (click)="gotoDashboard()"><mat-icon>refresh</mat-icon></button>

    <button mat-button (click)="gotoDashboard()"><mat-icon>settings</mat-icon></button>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <mat-list fxLayout="column">
            <mat-list-item fxLayout="row" fxLayoutAlign="start center">
                <button mat-button><mat-icon matListIcon>note_add</mat-icon>Notes</button>
            </mat-list-item>
            <mat-list-item fxLayout="row" fxLayoutAlign="start center">
            <button mat-button><mat-icon mat-list-icon>notifications_none</mat-icon>Reminders</button>
            </mat-list-item>

            <mat-divider></mat-divider>

            <h3 matSubheader>LABELS</h3>
            <mat-list-item *ngIf="label"><mat-icon matListIcon>label</mat-icon>{{label}}</mat-list-item>
            <mat-list-item fxLayout="row" fxLayoutAlign="start center">
            <button mat-button (click)="openDialog()"><mat-icon matListIcon>edit</mat-icon>Edit labels</button>
            </mat-list-item>

            <mat-divider></mat-divider>

            <mat-list-item fxLayout="row" fxLayoutAlign="start center">
                <button mat-button><mat-icon matListIcon>archive</mat-icon>Archive</button>
            </mat-list-item>
            <mat-list-item fxLayout="row" fxLayoutAlign="start center">
                <button mat-button><mat-icon mat-list-icon>delete_outline</mat-icon>Trash</button>
            </mat-list-item>

        </mat-list>

    </mat-drawer>
    <app-take-notes></app-take-notes>
</mat-drawer-container>