<!-- <div class="master-div" fxLayout="column"  fxFlex="100"> -->
    <div class="archive-divs" fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="100" fxLayoutGap="8px" fxLayout.xs="column" fxLayoutAlign.xs="center stretch" fxFlex.xs="100">
      <mat-card class="archive-cards" *ngFor="let record of records" [ngStyle]="{'background-color': record.color}" fxFlex="25" fxLayout.xs="column wrap">
        <div (click)="editDialog(record.title, record.description, record.color, record.id)">
          <p>{{record.title}}</p>
          <p>{{record.description}}</p>
      </div>
        <div fxLayoutAlign="start start">
          <app-icon-list (messageEvent)="deleteNote($event, record.id)" (messageEvent)="changeColor($event, record.id)"></app-icon-list>
        </div>
      </mat-card>
    </div>
  <!-- </div> -->