<!-- <div class="grandmaster-div"> -->
  <div class="master-div" fxLayoutAlign="center" fxFlex='100'>
    <div class="archive-divs" fxLayout="row wrap" fxLayoutAlign="center start" fxFlex='100' fxLayoutGap="14px" fxLayout.xs="column"
      fxLayoutAlign.xs="start stretch" fxFlex.xs="100">
      <mat-card *ngFor="let record of records" class="archive-cards" [ngStyle]="{'background-color': record.color}"
        fxFlex.xs="90" fxLayout.xs="column wrap">
        <div (click)="editDialog(record.title, record.description, record.color, record.id)">
          <p>{{record.title}}</p>
          <p>{{record.description}}</p>
        </div>

        <mat-chip-list>
          <div *ngFor="let label of record.noteLabels" fxLayout="row">
            <mat-chip [ngStyle]="{'background-color': record.color}" class="label-chip">{{label.label}}<mat-icon class="label-cross" (click)="removeLabel(label.id,record.id)">cancel</mat-icon>
            </mat-chip>
          </div>
        </mat-chip-list>

        <div fxLayoutAlign="start start">
          <app-icon-list class="icon" (messageEvent)="deleteNote($event, record.id)" (messageEvent)="changeColor($event, record.id)" (labelEvent)="saveLabel($event, record.id)">
          </app-icon-list>
        </div>
      </mat-card>
    </div>
  </div>
<!-- </div> -->
<!-- <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="14px" fxLayout.xs="column" class="cardcontainer"> -->