.cardcontainer{
    margin:40px;

}
.mat-card{
    border-radius: 20px;
    margin:2px;
    word-break: break-word;
}

.card {
    .icon{
        opacity: 0;
    }
    &:hover{
        .icon{
            opacity: 1;
        }
    }
}