.custom-modalbox {
    mat-dialog-container {
        padding: 0;
    }
}
mat-card{
    border-radius: 20px;
    margin:2px;
    word-break: break-word;
    // position: fixed;
}

.card {
    .icon{
        opacity: 0;
    }
    &:hover{
        .icon{
            opacity: 1;
        }
    }
    margin-bottom: 14px;
}

.label-chip {
    .label-cross {
        opacity: 0;
    }
    &:hover{
        .label-cross{
            opacity: 1;
        }
    }
}

.cardcontainer {
    margin: auto;
}