// .cardcontainer{
    // margin-left:40px;
    // margin-top: 80px;
// }
mat-card{
    border-radius: 20px;
    margin:2px;
    word-break: break-word;
    // position: fixed;
}

.card {
    .icon{
        opacity: 0;
    }
    &:hover{
        .icon{
            opacity: 1;
        }
    }
}