// .grandmaster-div {
//     margin-top: 40%;
//     overflow: scroll;
// }

.master-div {
    margin-top: 7%;
    width: 100%;
    // position: fixed;
}

.cardcontainer {

}

.empty-btn {
    margin-top: 0.5%;
    color: #4285F4;
    background-color: white;
    width: 12%;
}

.trash-card {
    margin-bottom: 1%;
    word-break: break-word;
    border-radius: 20px;
}