.master-div {
    // height: 100vh;
    margin-top: 7%;
    width: 100%;
    margin-left: auto;
}

.empty-btn {
    margin-top: 0.5%;
    color: #4285F4;
    background-color: white;
    width: 12%;
}

.trash-card {
    margin-top: 4%;
    word-break: break-word;
}