<div class="icon-div" fxLayout="row" fxFlex="100" fxLayoutGap="20" fxLayoutAlign="space-around center">
    <button fxFlex.sm="13" fxFlex.xs="13" mat-icon-button  matTooltip="Add image">
      <mat-icon>image</mat-icon>
    </button>
    <button fxFlex="13" fxFlex.xs="13" mat-icon-button matTooltip="Remind me">
      <mat-icon>add_alert</mat-icon>
    </button>
    


    <div fxFlex.xs='13'><button mat-icon-button matTooltip="Select theme" [matMenuTriggerFor]="selectTheme">
        <mat-icon class="material-icons">color_lens</mat-icon>
      </button></div>
    <mat-menu #selectTheme="matMenu" class="matmenu">
      <ng-template matMenuContent>
        <div fxLayout=row fxLayoutGap=10px style="margin-top:5px" *ngFor='let row of colorArray'>
          <div *ngFor='let color of row'>
            <button [ngStyle]="{'background-color': color.color }" (click)='changeColor(color.color)' 
              matTooltip="{{color.name}}" mat-mini-fab></button>
          </div>
        </div>
      </ng-template>
    </mat-menu>
  
    <!-- <div fxFlex='13'><button mat-icon-button (click)="archiveNote()">
        <mat-icon matTooltip="unarchive" *ngIf=card.isArchived class="material-icons">unarchive</mat-icon>
        <mat-icon matTooltip="archive" *ngIf=!card.isArchived class="material-icons">archive</mat-icon>
      </button></div> -->

    <div fxFlex.xs='13'><button mat-icon-button matTooltip="Archive" (click)="archiveNote()">
      <mat-icon>archive</mat-icon>
    </button></div>
    <div fxFlex.xs='13'><button mat-icon-button matTooltip="More" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button></div>
    <mat-menu #menu>
      <button mat-menu-item (click)="deleteNote()">Delete Note</button>
      <button mat-menu-item [matMenuTriggerFor]="selectLabel">Labels</button>
      <button mat-menu-item>Show checkboxes</button>
    </mat-menu>

    <mat-menu #selectLabel>
      <div class="check-div" fxLaout="column" fxLayoutGap="10px" *ngFor='let label of labels'>
        <button mat-icon-button (click)="labelNote(label.id)"><mat-checkbox>{{label.label}}</mat-checkbox></button>
      </div>
    </mat-menu>

  </div>