<div fxLayout="row" fxFlex="100" >
    <button mat-button  matTooltip="Add image">
      <mat-icon>image</mat-icon>
    </button>
    <button mat-button matTooltip="Remind me">
      <mat-icon>add_alert</mat-icon>
    </button>
    <button mat-button matTooltip="Change colour" [matMenuTriggerFor]="chip">
      <mat-icon>palette</mat-icon>
    </button>
  
    <mat-menu #chip>
      <button mat-button class="yellowchip"></button>
      <button mat-button class="redchip"></button>
      <button mat-button class="greenchip"></button>
      <button mat-button class="bluechip"></button>
      <button mat-button class="orangechip"></button>
      <button mat-button class="lightbluechip"></button>
  </mat-menu>
  
    <button mat-button matTooltip="Archive">
      <mat-icon>archive</mat-icon>
    </button>
    <button mat-button matTooltip="More" [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu>
      <button mat-menu-item>Change Labels</button>
      <button mat-menu-item>Add drawing</button>
      <button mat-menu-item>Show checkboxes</button>
    </mat-menu>
  </div>