<div fxFlex="100" fxLayoutAlign="space-around center">
    <mat-card class="login-card" fxLayout="column" fxLayoutAlign="space-around stretch" fxFlex="30" fxFlex.sm="50" fxFlex.xs="75">
      <mat-card-header fxFlex="100">
        <mat-card-title class="card-title"><b>Login Here!</b></mat-card-title>
        <mat-card-subtitle>Welcome to fundooApp!</mat-card-subtitle>
        <img mat-card-avatar src="../../../assets/download.png" class="mat-header-img">
      </mat-card-header>
    <div fxLayout="column" fxFlex="100" fxLayoutAlign="space-around stretch">
      <mat-form-field appearance="outline" class="reg-input">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" name="email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    
      <mat-form-field appearance="outline" class="reg-input">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Enter your password" name="password" [formControl]="password" [type]="hide ? 'password' : 'text'" required>
          <mat-icon class="password-icon" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error>
      </mat-form-field>
    </div>
    <div fxFlex="100" fxLayout="column" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="space-around stretch">
      <a routerLink="/forgot" (click)="gotoForgot()" style="font-size: 12px;">Forgot Password?</a>

      <mat-card-actions fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap.xs="10px" fxLayoutAlign="space-around center">
        <button mat-raised-button class="loginButton" (click)="OnLogin()">Login</button>
        <b><a class="gotoReg" routerLink="/signup">Create Account</a></b>
      </mat-card-actions>
    </div>
  </mat-card> 
</div> 