<div class="ques-div" fxLayoutAlign="space-between center" fxFlex="100" fxLayout="column">
  <div fxLayout="column" class="semi-ques-div">
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="500px">
      <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex="100" *ngFor="let note of notes">
        <h1>{{note.title}}</h1>
        <h3>{{note.description}}</h3>
      </div>
      <button mat-button class="close-btn" (click)="closeQues()">close</button>
    </div>
    <div *ngFor="let note of notes" fxFlex="100">
      <div *ngIf="note.questionAndAnswerNotes.length==0" fxFlex="100">
        <mat-divider></mat-divider><br>
        <div [froalaEditor] [(froalaModel)]="editorContent"></div>
        <div fxLayoutAlign="end end">
          <button mat-button (click)="submit()">Submit</button>
        </div>
        <mat-divider></mat-divider>
      </div>
      <div *ngIf="note.questionAndAnswerNotes.length>0" fxFlex="100">
        <mat-divider></mat-divider><br>
        <h2>Question Asked</h2>
        <p class="ques-asked" [innerHTML]="note.questionAndAnswerNotes[0].message"></p>
        <mat-divider></mat-divider><br>
        <!--Loop must start here-->
        <div class="reply" fxLayout="row" fxLayoutGap="20px">
          <div fxLayout="column">
            <p class="ques-detail">{{note.questionAndAnswerNotes[0].user.firstName}}
              {{note.questionAndAnswerNotes[0].user.lastName}}
              {{note.questionAndAnswerNotes[0].modifiedDate | date: 'medium'}}</p>
            <p class="ques-detail-ques" [innerHTML]="note.questionAndAnswerNotes[0].message"></p>
          </div>
          <mat-icon mat-icon-button class="btn" (click)="toggleFroala()">reply</mat-icon>
          <mat-icon mat-icon-button class="btn">thumb_up</mat-icon>
          <bar-rating [(rate)]="rate" [max]="5" [theme]="'default'" [(ngModel)]="rate"></bar-rating>
        </div>
        <div fxLayoutAlign="end end">
          <button mat-button *ngIf="!viewReply" (click)="toggleReply()">
            <mat-icon>keyboard_arrow_down</mat-icon> View reply
          </button>
          <button mat-button *ngIf="viewReply" (click)="toggleReply()">
            <mat-icon>keyboard_arrow_up</mat-icon> Hide reply
          </button>
        </div>
        <div *ngIf="froalaOpen==true">
          <div [froalaEditor] [(froalaModel)]="replyContent"></div>
          <div fxLayoutAlign="end end">
            <button mat-button (click)="submitReply(note.questionAndAnswerNotes[0].id)">Submit</button>
          </div>
        </div>
        <div *ngIf="viewReply">
          <div *ngFor="let ques of note.questionAndAnswerNotes">
            <div *ngIf="ques.isApproved==true && ques.parentId == note.questionAndAnswerNotes[0].id ">
              <div class="reply2" fxLayout="row" fxLayoutGap="20px">
                <div fxLayout="column">
                  <p class="ques-detail">{{ques.user.firstName}}
                    {{ques.user.lastName}}
                    {{ques.modifiedDate | date: 'medium'}}</p>
                  <p class="ques-detail-ques" [innerHTML]="ques.message"></p>
                </div>
                <mat-icon mat-icon-button class="btn" (click)="toggleFroala1(ques.id)">reply</mat-icon>
                <mat-icon mat-icon-button class="btn">thumb_up</mat-icon>
                <bar-rating [(rate)]="rate" [max]="5" [theme]="'default'" [(ngModel)]="rate"></bar-rating>
              </div>
              <div fxLayoutAlign="end end">
                <button mat-button *ngIf="!viewReply1" (click)="toggleReply1(ques.id)">
                  <mat-icon>keyboard_arrow_down</mat-icon> View reply
                </button>

                <button mat-button *ngIf="viewReply1==ques.id" (click)="toggleReply1(false)">
                  <mat-icon>keyboard_arrow_up</mat-icon> Hide reply
                </button>
              </div>
              <div *ngIf="froalaOpen1==ques.id">
                <div [froalaEditor] [(froalaModel)]="replyContent"></div>
                <div fxLayoutAlign="end end">
                  <button mat-button (click)="submitReply(ques.id)">Submit</button>
                </div>
              </div>
                <!--hdvhsfcdsafc-->

                <div *ngIf="viewReply1==ques.id">
                  <div *ngFor="let quest of note.questionAndAnswerNotes">
                    <!-- {{ques.id}} {{quest.parentId}} -->
                    <div *ngIf="quest.isApproved==true && quest.parentId == ques.id ">
                      <div class="reply3" fxLayout="row" fxLayoutGap="20px">
                        <div fxLayout="column">
                          <p class="ques-detail">{{quest.user.firstName}}
                            {{quest.user.lastName}}
                            {{quest.modifiedDate | date: 'medium'}}</p>
                          <p class="ques-detail-ques" [innerHTML]="quest.message"></p>
                        </div>
                        <mat-icon mat-icon-button class="btn" (click)="toggleFroala1(quest.id)">reply</mat-icon>
                        <mat-icon mat-icon-button class="btn">thumb_up</mat-icon>
                        <bar-rating [(rate)]="rate" [max]="5" [theme]="'default'" [(ngModel)]="rate"></bar-rating>
                      </div>
                      <!-- <div fxLayoutAlign="end end">
                        <button mat-button *ngIf="!viewReply1" (click)="toggleReply1(quest.id)">
                          <mat-icon>keyboard_arrow_down</mat-icon> View reply
                        </button>
                        <button mat-button *ngIf="viewReply1==quest.id" (click)="toggleReply1(false)">
                          <mat-icon>keyboard_arrow_up</mat-icon> Hide reply
                        </button>
                      </div> -->
                      <!-- <div *ngIf="froalaOpen1==quest.id">
                        <div [froalaEditor] [(froalaModel)]="replyContent"></div>
                        <div fxLayoutAlign="end end">
                          <button mat-button (click)="submitReply(quest.id)">Submit</button>
                        </div>
                      </div> -->
                      <mat-divider></mat-divider><br>
                    </div>
                  </div>
                </div>

                <!--jhsbdvsdvbk-->
              
              
              <mat-divider></mat-divider><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div [innerHTML]="editorContent"></div> -->